<li class="item-list">
  <div class="item-image">
    <%= link_to image_tag(item.image, class:"item-index-image"), item_path(item.id) %>
    <div class="hearts">
      <% if FavoriteItem.exists?(user_id: "#{current_user.id}", item_id: item.id) && FavoriteItem.find_by(user_id: "#{current_user.id}", item_id: item.id).checked%>
      <div class="pink-heart" data-id=<%= item.id%> >
        <%= image_tag "ハート.png", class:"item-middle-heart-image"%>
      </div>
      <% else %>
      <div class="pink-heart" data-id=<%= item.id%> style="filter: brightness(50%);">
        <%= image_tag "ハート.png", class:"item-middle-heart-image" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="item-index-info">
    <b><%= link_to item.name,item_path(item.id), class: "item-index-name" %></b>
    <div class="item-index-seller">
      <%= link_to item.seller.store_name,seller_path(item.seller.id), class: "item-index-seller" %>
    </div>
    <div class="item-index-3rd-row">
      <ul class="item-index-tags">
        <li class=item-index-tag><%= item.tag1 %></li>
        <li class=item-index-tag><%= item.tag2 %></li>
        <li class=item-index-tag><%= item.tag3 %></li>
        <li class=item-index-tag><%= item.tag4 %></li>
        <li class=item-index-tag><%= item.tag5 %></li>
      </ul>
      <div class="item-index-evaluation">評価
        <span style="font-size:15pt">
          <% if Review.exists?(item_id: "#{item.id}") %>
          <%= Review.where(item_id: "#{item.id}").average(:evaluation).round(1) %>
          <% else %>
          <span style="font-size:8pt">未評価</span>
          <% end %>
        </span> / 5
      </div>
    </div>
    <div class="item-index-4th-row">
      <div class="item-index-stock">在庫 <span style="font-size:15pt"><%= item.stock.count %></span> 個</div>
      <div class="item-index-price"><%= item.price %> <span style="font-size:10pt">円</span></div>
    </div>
  </div>
</li>