<div class="sidebar1">
  <div class="side2-user-info">
    <div class="side2-user-name">
      ようこそ
      <br><%= current_seller.store_name %> 様
    </div>
  </div>

  <ul class="side-user-lists">

    <li class="side-user-list">
      <%= link_to '>> 販売店情報編集', edit_seller_registration_path, class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> 出品管理', items_managements_path, class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> 購入された商品',  orders_managements_path, class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> お客様とのメッセージ', roomindex_managements_path, class: "side-user-list-button" %>
    </li>
  </ul>
</div>