<div class="sidebar1">
  <% if user_signed_in? %>
  <div class="side-user-info">
    <div class="side-user-name">
      ようこそ <%= current_user.nickname %> さん
    </div>
    <div class="side-user-charge">
      残高

      <% if Charge.exists?(user_id: "#{current_user.id}")%>
      <%= current_user.charge.pay %>
      <% else %>
      0
      <% end %>
      円
    </div>
    <div class="side-charge">
      残高の追加はこちらから→
      <% if Charge.exists?(user_id: "#{current_user.id}")%>
      <%= link_to 'チャージ', edit_user_charge_path(current_user.id,current_user.charge.id), class: "side-charge-button" %> <%# チャージ履歴あり %>
      <% else %>
      <%= link_to 'チャージ', new_user_charge_path, class: "side-charge-button" %> <%# 初めてのチャージ %>
      <% end %>
    </div>
    <%= link_to 'ログアウト', destroy_user_session_path, class: "side-logout-button" ,method: :delete%>
  </div>

  <ul class="side-user-lists">

    <li class="side-user-list">
      <%= link_to '>> いいねした商品', "#", class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> お気に入り販売店', "#", class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> 購入した商品', item_orders_path(current_user.id), class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> 販売店とのメッセージ', "#", class: "side-user-list-button" %>
    </li>
    <li class="side-user-list">
      <%= link_to '>> 会員情報編集', edit_user_registration_path  , class: "side-user-list-button" %>
    </li>
  </ul>
  <% else %>
  <div class="side-user-info">
    <div class="side-user-name">
      購入やお気に入り登録には<br>ユーザー登録が必要です
    </div>
  </div>
  <% end %>
</div>