<%= render "shared/header1" %>

<div class="body-include-sidebar">

  <%= render "shared/sidebar1" %>

  <div class="main-body">

    <%= render "shared/searchbar" %>

    <div class="main-body-body">

      <div class="main-body-title">
        <span style="color:#51456A">〇〇の検索結果</span>
      </div>

      <ul class=item-lists>

        <li class="item-list">
          <div>
            <%= link_to image_tag("negigyu.JPG", class:"item-index-image"), "#" %>
          </div>
          <div class="item-index-info">
            <%= link_to 'ネギ塩豚丼セット',"#", class: "item-index-name" %>
            <div class="item-index-seller">
              <%= link_to '松屋南草津店',"#", class: "item-index-seller" %>
            </div>
            <div class="item-index-3rd-row">
              <ul class="item-index-tags">
                <li class=item-index-tag>#牛丼あああ</li>
                <li class=item-index-tag>#松屋あああ</li>
                <li class=item-index-tag>#愛美あああ</li>
                <li class=item-index-tag>#ネギ塩ああ</li>
                <li class=item-index-tag>#こころんん</li>
              </ul>
              <div class="item-index-evaluation">評価 <span style="font-size:18pt">3.8</span> / 5</div>
            </div>
            <div class="item-index-4th-row">
              <div class="item-index-stock">在庫 <span style="font-size:20pt">20</span> 個</div>
              <div class="item-index-price">〇〇〇〇円 <span style="font-size:10pt">(税込)</span></div>
            </div>
          </div>
        </li>

        <li class="item-list">
          <div>
            <%= link_to image_tag("negigyu.JPG", class:"item-index-image"), "#" %>
          </div>
          <div class="item-index-info">
            <%= link_to 'ネギ塩豚丼セット',"#", class: "item-index-name" %>
            <div class="item-index-seller">
              <%= link_to '松屋南草津店',"#", class: "item-index-seller" %>
            </div>
            <div class="item-index-3rd-row">
              <ul class="item-index-tags">
                <li class=item-index-tag>#牛丼あああ</li>
                <li class=item-index-tag>#松屋あああ</li>
                <li class=item-index-tag>#愛美あああ</li>
                <li class=item-index-tag>#ネギ塩ああ</li>
                <li class=item-index-tag>#こころんん</li>
              </ul>
              <div class="item-index-evaluation">評価 <span style="font-size:18pt">3.8</span> / 5</div>
            </div>
            <div class="item-index-4th-row">
              <div class="item-index-stock">在庫 <span style="font-size:20pt">20</span> 個</div>
              <div class="item-index-price">〇〇〇〇円 <span style="font-size:10pt">(税込)</span></div>
            </div>
          </div>
        </li>

        <li class="item-list">
          <div>
            <%= link_to image_tag("negigyu.JPG", class:"item-index-image"), "#" %>
          </div>
          <div class="item-index-info">
            <%= link_to 'ネギ塩豚丼セット',"#", class: "item-index-name" %>
            <div class="item-index-seller">
              <%= link_to '松屋南草津店',"#", class: "item-index-seller" %>
            </div>
            <div class="item-index-3rd-row">
              <ul class="item-index-tags">
                <li class=item-index-tag>#牛丼あああ</li>
                <li class=item-index-tag>#松屋あああ</li>
                <li class=item-index-tag>#愛美あああ</li>
                <li class=item-index-tag>#ネギ塩ああ</li>
                <li class=item-index-tag>#こころんん</li>
              </ul>
              <div class="item-index-evaluation">評価 <span style="font-size:18pt">3.8</span> / 5</div>
            </div>
            <div class="item-index-4th-row">
              <div class="item-index-stock">在庫 <span style="font-size:20pt">20</span> 個</div>
              <div class="item-index-price">〇〇〇〇円 <span style="font-size:10pt">(税込)</span></div>
            </div>
          </div>
        </li>

        <li class="item-list">
          <div>
            <%= link_to image_tag("negigyu.JPG", class:"item-index-image"), "#" %>
          </div>
          <div class="item-index-info">
            <%= link_to 'ネギ塩豚丼セット',"#", class: "item-index-name" %>
            <div class="item-index-seller">
              <%= link_to '松屋南草津店',"#", class: "item-index-seller" %>
            </div>
            <div class="item-index-3rd-row">
              <ul class="item-index-tags">
                <li class=item-index-tag>#牛丼あああ</li>
                <li class=item-index-tag>#松屋あああ</li>
                <li class=item-index-tag>#愛美あああ</li>
                <li class=item-index-tag>#ネギ塩ああ</li>
                <li class=item-index-tag>#こころんん</li>
              </ul>
              <div class="item-index-evaluation">評価 <span style="font-size:18pt">3.8</span> / 5</div>
            </div>
            <div class="item-index-4th-row">
              <div class="item-index-stock">在庫 <span style="font-size:20pt">20</span> 個</div>
              <div class="item-index-price">〇〇〇〇円 <span style="font-size:10pt">(税込)</span></div>
            </div>
          </div>
        </li>

      </ul>
    </div>

  </div>

</div>

<%= render "shared/footer1" %>