<%= render "shared/header3" %>

<div class="body-include-sidebar">

  <%= render "shared/sidebar2" %>

  <div class="main-body">

    <div class="main-body-body">

      <div class="main-body-title">
        <span style="color:#51456A">販売者管理ページ</span>
      </div>

      <div class="main-body-sub-title">
        <span style="color:#51456A">販売者情報</span>
      </div>

      <div class="seller-show-up">
        <div class="seller-show-image">
          <%= image_tag  current_seller.store.image, class: "seller-show-image" %>
        </div>
        <div class="seller-show-info">
          <div class="seller-show-row1">
            <div class="seller-show-row1-left">
              <div class="seller-show-name"><b><%= current_seller.store_name %></b></div>
              <div class="seller-show-category"><%= current_seller.store.shopcategory.name %></div>
            </div>
          </div>
          <div class="seller-show-text">
            <%=  current_seller.store.information %>
          </div>
          <div class="seller-show-row2">
            ・〒<%=  current_seller.store.zip_code %>  <%=  current_seller.store.address %>
          </div>
          <div class="seller-show-row2">
            ・Tel <%=  current_seller.store.phone_number %>
          </div>
          <div class="seller-show-row2">
            ・公式サイト
            <%= link_to current_seller.store.url, current_seller.store.url ,class: "seller-show-link"%>
          </div>
        </div>
      </div>

      <div class="main-body-sub-title">
        <span style="color:#51456A;margin-right:20px">販売商品一覧</span>  <%= link_to '新規出品', "#" , class: "for-registration-red-btn" %>
      </div>

      <ul class=item-lists>

        <%= render "shared/item_middle" %>
        <%= render "shared/item_middle" %>
        <%= render "shared/item_middle" %>
        <%= render "shared/item_middle" %>
        <%= render "shared/item_middle" %>


      </ul>


    </div>

  </div>

</div>

<%= render "shared/footer1" %>