<%= render "shared/header1" %>

<div class="body-include-sidebar">

  <%= render "shared/sidebar1" %>

  <div class="main-body">

    <%= form_with url: "#", class: 'edit-main', local: true do |f| %>
    <div class='edit-form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          会員情報編集
        </h1>
      </div>

      <%#= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">ニックネーム</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) Foodmall太郎", maxlength:"40" %>
        <p class='info-text'>※ レビューにて他のお客さまに公開されます</p>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <br>
      <div class='shipping-address-form'>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">郵便番号</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :zip, class:"input-default", id:"postal-code", placeholder:"例）123-4567", maxlength:"8" %>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">住所</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :city, class:"input-default", id:"city", placeholder:"例）神奈川県横浜市緑区1-1フードマンション201"%>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">電話番号</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :phone_num, class:"input-default", id:"phone-number", placeholder:"例）09012345678",maxlength:"11"%>

        </div>
        <br>
        <p class='info-text-down'>※ お名前,生年月日を修正するには<span class='edit-info'>こちら</span>までご連絡ください。本人確認が必要になります。</p>
      </div>



      <div class="form-group">
        <h2 class='user-edit--bottom-text'>
          「編集完了」のボタンを押すことにより、<span class= "edit-info">利用規約</span>に同意したものとみなします
        </h2>
        <br>
      </div>
      <div class='register-btn'>
        <%= f.submit "編集完了" ,class:"register-red-btn" %>
      </div>
      <p class='register-info'>本人情報の登録について</p>
    </div>



    <% end %>

  </div>
</div>

<%= render "shared/footer1" %>